.home_container {
  margin-left: 114px;
  padding: 60px;
}
.home_title_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 40px;

  h1 {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 50% */
  }
  span {
    color: #ff0101;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  p {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
}

.home_main_container {
  width: 100%;
  display: flex;
  gap: 30px;

  .weight_chart {
    height: 280px;
    width: 800px;
    border-radius: 5px;
    background: #fbfbfb;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    padding: 20px;
  }
}
.health_article_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.central_article_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .bottom_article {
    display: flex;
    gap: 30px;
  }
}

.target {
  width: 258px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f00;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}
